In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('C:\\Users\\Administrator\\Documents\\Python Jupyter\\Python\\Python Assignments\\terror.csv',sep=",", engine='python')

In [6]:
#Q.1)How many attacks happened in India?

india_attack_count = df[df.country_txt=='India'].shape[0]

print("Number of attacks in india:"+str(india_attack_count))

Number of attacks in india:9940

In [7]:
#Q.2)How many attacks happened in India and upto 3 people were killed?

india_more_than_3 = df[(df.country_txt=='India') & (df.nkill > 3)]

print("Number of attacks where killed is more than 3:"+str(india_more_than_3.shape[0]))

Number of attacks where killed is more than 3:1406

In [8]:
#Q.3)Extract the city and summary for attacks above

india_more_than_3[['city','summary']]

,city,summary
2688,Samastipur,"1/2/1975: The Indian Railway Minister, Lalit N..."
8098,Unknown,NaN
9237,Unknown,NaN
10414,Tindol,NaN
11647,Tirupattur,NaN
12590,Unknown,NaN
14205,Unknown,NaN
15434,Unknown,NaN
16306,Unknown,NaN
16336,Gauhati,NaN
16387,Unknown,NaN
17051,Amritsar,NaN
17234,Tipaimukh,NaN
18341,Baloda Bazar,NaN
19903,Delhi,NaN
19904,Delhi,NaN
20111,Unknown,NaN
20230,Unknown,NaN
20792,Unknown,NaN
21027,Unknown,NaN
21243,Imphal,NaN
21432,Amritsar,NaN
21741,Firozpur,NaN
22049,Moga,NaN
22109,Dhariwal,NaN
22713,Chennai,NaN
23182,Batala,NaN
24243,Bathinda district,NaN
24970,New Delhi,NaN
27266,Batala,NaN
...,...,...
131438,Mumuri,05/11/2014: An explosive device detonated near...
133276,South 24 Parganas district,06/15/2014: Assailants opened fire on a meetin...
133678,Chhapra,06/25/2014: An explosive device detonated on a...
134507,Labdanguri,07/11/2014: Assailants abducted four Muslim tr...
135487,Ramaram,07/28/2014: Assailants opened fire on a joint ...
139711,Rerwa,11/03/2014: Assailants attacked a vehicle near...
140662,Arnia,11/27/2014: Assailants attacked an Indian mili...
140859,Chintagufa,12/01/2014: Assailants opened fire on a Centra...
141001,Mohara,12/05/2014: Assailants attacked a military cam...
141634,Phulbari,12/23/2014: Assailants opened fire on Adivasi ...
141635,Sonitpur district,12/23/2014: Assailants opened fire on Adivasi ...
141637,Shantipur Ultapani,12/23/2014: Assailants opened fire on Adivasi ...
141638,Sonitpur district,12/23/2014: Assailants opened fire on Adivasi ...
145153,Rongara,03/10/2015: Assailants opened fire on a police...
145521,Kathua,03/20/2015: Assailants hijacked a vehicle and ...
145554,Samba district,03/21/2015: Assailants threw grenades and open...
146324,Sukma district,04/11/2015: Several assailants opened fire on ...
146400,Cholnar,04/13/2015: Assailants detonated an explosive ...
146401,Kanker district,04/13/2015: Assailants opened fire on a Border...
147231,Changlangshu,05/03/2015: Assailants detonated an explosive ...
147843,Bijapur district,05/17/2015: Assailants opened fire on Special ...
148191,Tangdhar,05/25/2015: Assailants opened fire on security...
148450,Tangdhar,05/31/2015: Six assailants attempted to attack...
148593,Moltung,06/04/2015: Assailants ambushed a convoy of As...
150173,Kutru,07/13/2015: Assailants abducted six police off...
150717,Dinanagar,07/27/2015: Assailants stormed a police statio...
151938,Chitrkonda,08/26/2015: Assailants detonated a landmine an...
153431,Tilpatren,10/05/2015: Assailants opened fire on military...
155515,Tangdhar,11/25/2015: Three assailants attacked a milita...
155928,Kistaram,12/08/2015: Assailants opened fire on Special ...

In [19]:
#Q.4)In a single terror incident in India, find out top 5 cities by number killed

top5_nkill_india = df[df.country_txt=='India'].sort_index(by='nkill',ascending=False).head(5)


print(top5_nkill_india)

            eventid  iyear  imonth  iday approxdate  extended resolution  \
81000  200607120001   2006       7    11        NaN         0        NaN
96598  201005280005   2010       5    28        NaN         0        NaN
54339  199212080019   1992      12     8        NaN         0        NaN
95860  201004060005   2010       4     6        NaN         0        NaN
56837  199407240008   1994       7    24        NaN         0        NaN

       country country_txt  region   ...     \
81000       92       India       6   ...
96598       92       India       6   ...
54339       92       India       6   ...
95860       92       India       6   ...
56837       92       India       6   ...

                                                addnotes  \
81000  There were 8 different explosions that occurre...
96598  The available sources listed the fatalities fo...
54339                                                NaN
95860  The most recent available sources listed the f...
56837                                                NaN

                                                  scite1  \
81000  “Series of Bombs Explode on 7 Trains in India,...
96598  Straits Times, "Indian Police Kill Maoist Lead...
54339                                                NaN
95860  Pioneer, "India: Maoists Say Six Apr Attack on...
56837                                                NaN

                                                  scite2  \
81000  “Suspect linked to Mumbai blast; Kashmir Terro...
96598  Manik Baerjee, ABC News, "India Halts Trains A...
54339                                                NaN
95860  Agence France Presse, "AFP: Indian Maoists Kil...
56837                                                NaN

                                                  scite3  dbsource  INT_LOG  \
81000  "7/11 Mumbai blast victim dies after being in ...     CETIS        1
96598  National Counterterrorism Center, "One Hundred...      ISVG        0
54339                                                NaN      PGIS       -9
95860  Daily Pak Banker, "India: Maoists Kill 76 Secu...      ISVG        0
56837                                                NaN      PGIS       -9

       INT_IDEO INT_MISC INT_ANY  related
81000         1        0       1      NaN
96598         0        0       0      NaN
54339        -9        0      -9      NaN
95860         0        0       0      NaN
56837        -9        1       1      NaN

[5 rows x 137 columns]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
#Q.5)	In a single terror incident in India, find out top 5 cities by number killed and wounded

top5_killed_wounded = df[df.country_txt=='India'].sort_index(by=['nkill','nwound'],ascending=False).head(5)

print(top5_killed_wounded[['nkill','nwound']])

       nkill  nwound
81000  188.0   817.0
96598  115.0   140.0
54339  115.0     0.0
95860   82.0     0.0
56837   70.0   100.0

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
#Q.6) How many attacks were successful that were suicide attacks?

print("Successful attacks "+str(df[['suicide']].sum()))

Successful attacks suicide    4771
dtype: int64

In [6]:
#Q.7) label all the incidents where the number killed was more than 5 as severe. 

#df['incidents']= np.where(df['nkill']>5,'severe','not severe')
df['incidents']= ['severe' if i > 5 else 'not severe' for i in df['nkill']]

In [5]:
#Q.8) write a function to label an incident that was both successful and suicidal

#df['Success_and_suicidal']= np.where((df['success']==1) & (df['suicide']==1),1,0)

nrows=list(range(0,df.shape[0]))
df['Success_and_suicidal']= [1 if df.iloc[i].suicide==1 and df.iloc[i].success==1  else 0 for i in nrows]

In [6]:
#Q.9)	Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the category and all the other countries as another level

df['levels'] =['Asia' if df.iloc[i].country_txt in ['Afghanistan','Pakistan','India']  else 'ROW' for i in nrows]

In [7]:
#Q.10) How many incidents happened in Af-Pak-India vs ROW?
print("No. of Incidents in Afghanisthan, Pakistan and India is: ", len(df.query("levels=='Asia'")))
len(df.query("levels=='ROW'"))
print(round(len(df.query("levels=='Asia'"))*100/len(df.query("levels=='ROW'")),3))

No. of Incidents in Afghanisthan, Pakistan and India is:  32398
26.049

In [9]:
#Q.11)	List the number of suicides attacks and average kills by Af-Pak-India vs ROW. Rename columns in the output as Average_Kills and Number_Incidents.

print(df.query("suicide == 1").groupby('levels')[['nkill']].agg(['count','mean']).rename(columns = {'count' : "Number_Incidents",'mean':"Average_kills"}))

                  nkill
       Number_Incidents Average_kills
levels
Asia               1456      8.127404
ROW                3250     11.511403